/* = Restaurant Filtering = */
@media screen and (min-width: 530px) {
    .filter-options {
        flex-wrap: nowrap; 
    }
    .filter-options div {
        width: auto;
    }

    .filter-options select {
        width: 180px; 
    }
}